* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
}

.container {
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myqrcode {
  max-width: 330px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.19);
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.myImage {
  border-radius: 10px;
}

.parentP {
  margin: 25px;
}

.myp1 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 22px;
}

.myp2 {
  color: hsl(216, 15%, 48%);
  font-size: 15px;
}

.attribution {
  align-self: center;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
